* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
strong {
  color: var(--primary);
}

main {
  background-color: var(--gray-100);
  border-top: 4px solid var(--gray-200);
}

.max-width-wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--sp-5) 0;
}

.intro-chunk {
  max-width: 360px;
  padding: var(--sp-2);
}

.card {
  background-color: var(--white);
  padding: var(--sp-2);
  border-bottom: 4px solid var(--gray-200);
}

.indented-heading {
  background-color: var(--secondary-light);
  border-bottom: 4px solid var(--secondary-dark);
  padding: 16px 32px;
  width: fit-content;
  margin-top: 0;
  margin-left: -32px;
}

:root {
  --sp-1: 8px;
  --sp-2: 16px;
  --sp-3: 32px;
  --sp-4: 48px;
  --sp-5: 64px;
  --sp-6: 96px;
  --sp-7: 128px;

  --font-size-base: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;

  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);

  --white: hsl(0deg, 0%, 100%);
  --gray-100: hsl(0deg, 0%, 60%);
  --gray-200: hsl(0deg, 0%, 40%);
  --gray-300: hsl(0deg, 0%, 30%);
  --gray-400: hsl(0deg, 0%, 10%);
  --black: hsl(0deg, 0%, 0%);
}
